
body{
  background: #F2F2F2;
  font-family: Inconsolata;
}
h1 {
  text-align: center;
}

section{
  text-align: center;
  padding-top: 7%;
}


footer{
  position: absolute;
  width: 100%;
  background-color: #D5DBDB;
  bottom: 0px;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
}